{% extends 'home/base.html' %}
{% block title %}Home{% endblock %}
{ % block home_active % }  active  { % endblock % }
{% block body %}
<div class="jumbotron">
    <h1 align="center">Home Page</h1>
    <p align="center"> Security-Officer panel</p>
  </div>
<div class="jumbotron">
  <br>

</div>
{%if vehicles%}
    {%if number%}
    There are {{number}} vehicles inside campus since 2.4 hours which do-not exit yet
    {%endif%}
    <table class="table table-stripped table-bordered">
        <thead>
        <tr>
            <td>S.no</td>
            <td>vehicle-id</td>
            <td>Entry-Time</td>

        </tr>
        </thead>
        {%for vehicle in vehicles%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{vehicle.num}}</td>
                <td>{{vehicle.entry}}</td>
            </tr>
        {%endfor%}
    </table>
{%else%}
    <p >You have no vehicles</p>
{%endif%}
{%endblock%}